<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    
    <add key="qyhCorpId" value="wx811b855e73c9b606"/>
    
    <!--李福所在组-->
    <add key="qyhSecret" value="KjagwJyAKuvVi9vmd9GiSKUh9ON5klwvDUd_1MVKCcts7lOubw865dK_y36NHS97" />
    <!--厂庆24周年-->
    <!--<add key="qyhSecret" value="I_F3nKpIehKD0yqzDXKNypljmZBK7c_ZIlN-sjXGHnZ_wKnXZKShARQKwaXgl3ik" />-->
    <!--张怡（测试）-->
    <!--<add key="qyhSecret" value="4xeie0dmaC7BqV60WyoBjyEFu5nMhFzbhGcRL2XNh9Rem0HdLzAsq5dPBJa54D_o" />-->
    
    <!--回调模式需要用Token、EncodingAESKey-->
    <add key="qyhToken" value=""/>
    <add key="qyhEncodingAESKey" value=""/>
  </appSettings>
  
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Data Source=FROST-PD10\MSSQLPD10;Initial Catalog=BirthdayLunar;uid=sa;pwd=97" providerName="System.Data.SqlClient" />-->
    <add name="ConnString" connectionString="Data Source=THENEWWEB\TIEQIDATA;Initial Catalog=BirthdayLunar;uid=weixin;pwd=weixin" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
