<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages>
        <!--清理后，重生成可用-->
        <namespaces>
          <add namespace="FROST.Utility"/>
        </namespaces>
      </pages>
    </system.web>
  <appSettings>
    
    <add key="qyhCorpId" value="wx811b855e73c9b606"/>
    
    <!--李福-->
    <add key="qyhSecret" value="KjagwJyAKuvVi9vmd9GiSKUh9ON5klwvDUd_1MVKCcts7lOubw865dK_y36NHS97" />
    
    <!--回调模式需要用Token、EncodingAESKey-->
    <add key="qyhToken" value=""/>
    <add key="qyhEncodingAESKey" value=""/>
  </appSettings>
  
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=10.1.1.52;Initial Catalog=BirthdayLunar;uid=sa;pwd=97" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
