<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="qyhCorpId" value="wx811b855e73c9b606"/>
    <add key="qyhSecret" value="4xeie0dmaC7BqV60WyoBjyEFu5nMhFzbhGcRL2XNh9Rem0HdLzAsq5dPBJa54D_o" />
    <!--每天消息发送的小时点-->
    <add key="sendHour" value="15" />
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=.\SQLEXPRESS_10;Initial Catalog=BirthdayLunar;uid=sa;pwd=97;Max Pool Size = 512" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>