<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="qyhCorpId" value="wx811b855e73c9b606" />

    <add key="qyhSecret" value="KjagwJyAKuvVi9vmd9GiSKUh9ON5klwvDUd_1MVKCcts7lOubw865dK_y36NHS97" />

    <add key="sendHour" value="15" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Data Source=THENEWWEB\TIEQIDATA;Initial Catalog=BirthdayLunar;uid=weixin;pwd=weixin" providerName="System.Data.SqlClient" />-->
    <add name="ConnString" connectionString="Data Source=10.1.1.52;Initial Catalog=BirthdayLunar;uid=sa;pwd=97" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>